*{
	padding:0px;
	margin:0px;
}

html{
	background:#dddddd;
	
}

option:first {
    color: #999;
}


.back{
	background:white;
	height:800px;
	width:800px;
	margin:0 auto;
	margin-top:5px;
	margin-bottom:5px;
	font-family:Century;
	
}


a{
	text-decoration:none;
	font: 1em/1 "Oswald", sans-serif;}


.navbar{
	background:black;
	height:60px;
	width:100%;	
}

.list{
	padding: .25em 0 .325em;
	list-style:none;
	text-align:right;
	
}
.list li{
	
	display:inline;
	
}

.list li a{
	text-decoration:none;
	color:white;
	line-height:50px;
	padding:20px;
	
}

h1,h2,h3,h4,h5,h6,label{
	font-family:"Oswald", sans-serif;
	color:black;
}

.heading{
	text-align:center;
	margin-top:40px;
}

.btn{
	border-radius:5px;
	padding:10px;
	background:black;
	color:white;
	margin-top:40px;	
}

.btn:hover{
	border-radius:5px;
	padding:10px;
	background: gray;
	color:white;
	margin-top:40px;

}

.btnr{
	border-radius:5px;
	padding:5px;
	background:#ff0000;
	color:white;
	
}

.btnr:hover{
	border-radius:5px;
	padding:5px;
	background:#ff5e5e;
	color:white;
	
}


.btnb{
	border-radius:5px;
	padding:5px;
	background:#43a7bc;
	color:white;

}

.btnb:hover{
	border-radius:5px;
	padding:5px;
	background:#68b9ca;
	color:white;


}


.log{
	height:auto;
	width:50%;
	margin:0 auto;
	margin-top:20px;
	padding:30px;
	margin-bottom:40px;
	
	 -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cont{
	height:auto;
	width:50%;
	margin:0 auto;
	margin-top:20px;
	padding:30px;
	margin-bottom:40px;
	text-align:center;
	line-height:40px;
	 -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sha{
	-webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.input{
	height:30px;
	width:90%;
	padding:2px;
	margin-top:10px;
	
}

.input2{
	width:80%;
	height:40px;
	margin-top:20px;
	
}



label{
	font-weight:bold;
	
}

footer{
	text-align:center;
	color:white;
	line-height:50px;
	
}

.success{
	background:green;
	color:white;
	line-height:30px;
	border-radius:5px;
	height:30px;
	
	text-align:center;
	margin-bottom:10px;
	
}

.error{
	background:#ff1515;
	color:white;
	line-height:30px;
	border-radius:5px;
	height:30px;
	
	text-align:center;
	margin-bottom:10px;
}





.content1{
	margin-top:30px;
}

.s{
	list-style:none;
	
}



.li{
   
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
	border: 1px solid #ecf0f1;

}

.imgs{
	height:200px;
	width:200px;
	float:left;
	margin:20px;
	
}

.text{
	text-align:center;		
	
}




.footer{
	background:#663b95;
	height:60px;
	width:100%;	
	float:left;
}



#section{
	height:auto;
	width:1400px;
	margin-left:90px;
	font-family:cambria;
	
}


.sidebar{
	width:400px;
	height:auto;
	margin-top:30px;
	margin-right:30px;
	float:left;
	background:white;
	
}

.content{
	margin-top:30px;
	height:auto;
	width:950px;
	float:left;	
	
}

.content1{
	margin-top:30px;
	height:auto;
    float:left;
    width: 950px;
	
}
.para{
	text-align:justify;
	padding:15px;
	line-height:34px;
	
}

.tbox{
	float:left;
}

.tbox table{
	border-collapse:collapse;
	
}

tr,td,th{
	padding:20px;
}

.table{
	border-collapse:collapse;
}

.input3{
	width:90%;
	height:40px;
	margin-top:20px;
	
}

.input4{
	width:90%;
	height:40px;
	margin-top:20px;
	
}

.input5{
	width:25%;
	height:40px;
	margin-top:20px;
	margin-right:20px;
	
}
.lbox{
	
	
	width:50%;
    margin-right:20px;
	float:left;
}

.rbox{
	

	width:50%;
    margin-left: 20px;
    float:right;
    margin-top:-290px;

}
.pbox{
	

	width:100%;
	float:left;
}

table{
	border-collapse:collapse;
}

.lbox1{
	
	width:50%;
margin-right:20px;
	float:left;
}

.rbox1{
	width:45%;
	float:left;
}

.rbox1 table{
	width:100%;
}

textarea{
	resize:none;width:90%;margin-top:20px;

}

.Output table
{
	width:100%;
}

.ibox{
	width:65%;
	float:left;	
}

.tsbox{

	width:35%;
	float:left;	
	
}

.title {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
}
.block {
	  width: 0%;
	  height: inherit;
	  background: #ffb510;
	  position: absolute;
	  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) 
}




p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	padding: 1.5em 0em;
	position: absolute;
	top: 0%;
    left: -680px;
	width: 100%;



}
  
  span {
	
  	font: 1em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}